<IfModule mod_rewrite.c>
RewriteEngine On   
RewriteCond %{HTTP_HOST} ^talktogether.club$ [NC,OR]     
RewriteCond %{HTTP_HOST} ^talktogether.club$      
RewriteCond %{REQUEST_URI} !public/
RewriteRule (.*) /public/$1 [L]
</IfModule>